@model PrintStat.Models.ViewModels.JobView

@using (Html.BeginForm("EditJob", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <div class="control-group">
            <table class="tdnoborder" cellpadding="6" cellspacing="8">
                <tr>
                    <td colspan="2" class="tdnoborder">
                        <label class="control-label" for="Name">
                            Наименование задачи
                        </label>

                        <div class="controls">
                            @Html.TextBox("Name", Model.Name)
                            @Html.ValidationMessage("Name")
                        </div>

                    </td>
                </tr>

                <tr>
                    <td class="tdnoborder">
                        <label class="control-label" for="UserTabNumber">
                            Сотрудник
                        </label>

                        <div class="styled-select">
                            @Html.DropDownList("UserTabNumber", new SelectList(ViewBag.UserEmployees, "TabNumber", "Name"))
                        </div>
                    </td>
                    <td class="tdnoborder">
                        <label class="control-label" for="AuthorTabNumber">
                            Автор
                        </label>

                        <div class="styled-select">
                            @Html.DropDownList("AuthorTabNumber", new SelectList(ViewBag.AuthorEmployees, "TabNumber", "Name"))
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tdnoborder">
                        <label class="control-label" for="PrinterID">
                            Принтер
                        </label>

                        <div class="styled-select">
                            @Html.DropDownList("PrinterID", new SelectList(ViewBag.Plotters, "ID", "Name"))
                        </div>
                    </td>
                    <td class="tdnoborder">
                        <label class="control-label" for="ApplicationID">
                            Приложение
                        </label>

                        <div class="styled-select">
                            @Html.DropDownList("ApplicationID", new SelectList(ViewBag.Applications, "ID", "Name"))
                        </div>

                    </td>
                </tr>

                <tr></tr>

                <tr>
                    <td class="tdnoborder">
                        <label class="control-label" for="SizePaperID">
                            Типоразмер бумаги
                        </label>

                        <div class="controls">
                            @Html.DropDownList("SizePaperID ", new SelectList(ViewBag.SizePaper, "ID", "Name"))
                            @Html.ValidationMessage("SizePaperID ")
                        </div>
                    </td>
                    <td class="tdnoborder">
                        <table class="tdnoborder" cellpadding="6" cellspacing="8">
                            <tr>
                                <td class="tdnoborder">
                                    <label class="control-label" for="Width_cm">
                                        Ширина, см
                                    </label>

                                    <div class="controls">
                                        @Html.TextBox("Width_cm", Model.Width_cm)
                                        @Html.ValidationMessage("Width_cm")
                                    </div>
                                </td>
                                <td class="tdnoborder">
                                    <label class="control-label" for="Height_cm">
                                        Длина, см
                                    </label>
                                    <div class="controls">
                                        @Html.TextBox("Height_cm", Model.Height_cm)
                                        @Html.ValidationMessage("Height_cm")
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                <tr>
                    <td class="tdnoborder">

                        <label class="control-label" for="Pages">
                            Страниц
                        </label>

                        <div class="controls">
                            @Html.TextBox("Pages", Model.Pages)
                            @Html.ValidationMessage("Pages")
                        </div>
                    </td>
                    <td class="tdnoborder">


                        <label class="control-label" for="Copies">
                            Копий
                        </label>
                        <div class="controls">
                            @Html.TextBox("Copies", Model.Copies)
                            @Html.ValidationMessage("Copies")
                        </div>
                    </td>
                </tr>


            </table>
         </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Изменить
            </button>
            @Html.ActionLink("Отмена", "Index", null, null, new { @class = "btn" })
        </div>
    </fieldset>
}