@*model IList<PrintStat.Job>*@



@{
    ViewBag.Title = "задания";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css"/>


<h2>Задания печати</h2>



<p>
    <div class="menu">
<<<<<<< HEAD
        <a href="@Url.Action("Index", "Home")">Получить почту</a>
=======
        <a href="@Url.Action("GetMail", "Home")">Получить почту</a>
>>>>>>> 1e730ea92f78a1ed46a28927abf9ea01daf8d389
        <a href="@Url.Action("CreatePlotterJob", "Home")">Добавить задание плоттера</a>
        <a href="@Url.Action("CreatePrinterJob", "Home")">Добавить задание принтера</a>
        <a href="@Url.Action("ExportJobs", "Report")">Отчет о печати</a>
        <a href="@Url.Action("ExportResources", "Report")">Статистика использования расходников</a>
    </div>

</p>


@{Html.RenderAction("partialJobPaginator", "Job");}