@model PrintStat.Models.ViewModels.ReportSettingsView
<link href="~/Content/themes/jquery-ui.css" rel="stylesheet"/>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/i18n/jquery.ui.datepicker-ru.js"></script>

@using (Html.BeginForm("ExportJobs", "Report", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <div class="control-group">
            <script type="text/javascript">
                $(function () {
                    $("#DateStart,#DateEnd").datepicker(
                    {
                        defaultDate: new Date(),
                        dateFormat: "dd.mm.yy",
                        changeMonth: true,
                        changeYear: true
                        
                    });
                });
            </script>

            <h2>
                Отчет о печати
            </h2>

            <table class="tdnoborder" cellpadding="6" cellspacing="8">
                <tr>
                    Время:
                    <td class="tdnoborder">
                        <label>
                            <b>C: </b>
                            @Html.TextBoxFor(p => p.DateStart, new { id = "DateStart" , Value = Model.DateStart.ToString("dd.MM.yyyy")})

                        </label>
                    </td>
                    <td class="tdnoborder">
                        <label>
                            <b>По: </b>
                            @Html.TextBoxFor(p => p.DateEnd, new { id = "DateEnd", Value = Model.DateEnd.ToString("dd.MM.yyyy") })

                        </label>
                    </td>
            </tr>
                    
                        <tr>
                            <td class="tdnoborder">
                                <label class="control-label" for="EmployeeTabNumber">
                                    Исполнитель
                                </label>

                                <div class="styled-select">
                                    @Html.DropDownList("EmployeeTabNumber", new SelectList(ViewBag.UserEmployees, "Value", "Text"))
                                </div>
                            </td>
                            <td class="tdnoborder">
                                <label class="control-label" for="AuthorTabNumber">
                                    Автор
                                </label>

                                <div class="styled-select">
                                    @Html.DropDownList("AuthorTabNumber", new SelectList(ViewBag.AuthorEmployees, "Value", "Text"))
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="tdnoborder">
                                <label class="control-label" for="PrinterID">
                                    Устройство печати
                                </label>

                                <div class="styled-select">
                                    @Html.DropDownList("PrinterID", new SelectList(ViewBag.Printers, "Value", "Text"))
                                </div>
                            </td>
                            <td class="tdnoborder">
                                <label class="control-label" for="ApplicationID">
                                    Приложение
                                </label>

                                <div class="styled-select">
                                    @Html.DropDownList("ApplicationID", new SelectList(ViewBag.Applications, "Value", "Text"))
                                </div>

                            </td>
                        </tr>

                        <tr></tr>

                        <tr>
                            <td class="tdnoborder">
                                <label class="control-label" for="DepartmentID">
                                    Отдел
                                </label>

                                <div class="controls">
                                    @Html.DropDownList("DepartmentID", new SelectList(ViewBag.Departments, "Value", "Text"))
                                    @Html.ValidationMessage("DepartmentID")
                                </div>
                            </td>
                            <td class="tdnoborder"></td>
                    </table>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Создать отчет
            </button>
            @Html.ActionLink("Отмена", "Index", "Home", null, new { @class = "btn" })
        </div>
    </fieldset>
}