@model IList<PrintStat.Printer>
@{
    ViewBag.Title = "Принтеры и плоттеры";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Типы бумаги</h2>

<p>
    <div class="menu">
        <a href="@Url.Action("CreatePrinter", "Printer")">Добавить принтер</a>
    </div>

</p>

<p>
    <table>
        <thead>
            <tr>
                <th>Редакция</th>
                <th>Удаление</th>

                <th>Наименование</th>
                <th>Тип устройства</th>
                <th>Вид печати</th>
                <th>Поисковая строка</th>
                <th>Инв. номер</th>
            </tr>
        </thead>
        @foreach (var printer in Model)
        {
            <tr>
                
                <td width="80">
                    <a href="@Url.Action("EditPrinter", "Printer", new { id = @printer.ID })">●</a>
                </td>
                <td width="80">
                    <a href="@Url.Action("DeletePrinter", "Printer", new { id = @printer.ID })"><font color="red">●</font></a>
                </td>

                <td width="200">
                    @printer.Name
                </td>
                <td width="120">
                    @printer.DeviceType.Name
                </td>

                <td width="120">
                    @printer.PrintKind.Name
                </td>
                
                <td width="200">
                    @printer.SearchString
                </td>

                <td width="80">
                    @printer.InvNumber
                </td>
            </tr>
        }
    </table>
</p>



