@model PrintStat.Models.ViewModels.CartridgeColorView

@using (Html.BeginForm("EditCartridgeColor", "CartridgeColor", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="Name">
                Наименование цвета
            </label>
            

            <div class="controls">
                @Html.TextBox("Name", Model.Name)
                @Html.ValidationMessage("Name")
            </div>
            <label class="control-label" for="ShortName">
                Краткое название
            </label>
            <div class="controls">
                @Html.TextBox("ShortName", Model.ShortName)
                @Html.ValidationMessage("ShortName")
            </div>
        </div>
      
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Изменить
            </button>
            @Html.ActionLink("Отмена", "Index", null, null, new { @class = "btn" })
        </div>
    </fieldset>
}