@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Справочники</h2>

<p>
    <a href="@Url.Action("Index", "PaperType")">Типы бумаги</a>
    <br>
    <a href="@Url.Action("Index", "SizePaper")">Типоразмеры бумаги</a>
    <br>
    <a href="@Url.Action("Index", "DeviceType")">Виды устройств</a>
    <br>
    <a href="@Url.Action("Index", "CartridgeColor")">Цвета картриджей</a>
    <br>
    <a href="@Url.Action("Index", "PrintKind")">Виды печати</a>
    <br>
    <a href="@Url.Action("Index", "Employee")">Сотрудник</a> @*//выбор существующего отдела//*@
    <br>
    <a href="@Url.Action("Index", "Department")">Отдел</a>
    <br>
    <a href="@Url.Action("Index", "Application")">Приложение</a>
    <br>
    @*<a href="@Url.Action("Index", "DeviceType")">Вид печати</a>*@


</p>


