@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Справочники</h2>

<p>
    <a href="@Url.Action("Index", "Paper")">Типоразмеры бумаги</a>
    <br>
    <a href="@Url.Action("Index", "DeviceType")">Виды устройств</a>
    <br>
    <a href="@Url.Action("Index", "DeviceType")">Цвета картриджей</a>
    <br>
    <a href="@Url.Action("Index", "DeviceType")">Виды печати</a>
    <br>
    <a href="@Url.Action("Index", "DeviceType")">Сотрудник</a>
    <br>
    <a href="@Url.Action("Index", "DeviceType")">Отдел</a>
    <br>
    <a href="@Url.Action("Index", "DeviceType")">Приложение</a>
    <br>
    <a href="@Url.Action("Index", "DeviceType")">Вид печати</a>


</p>


