@model PrintStat.Models.ViewModels.SettingsView

@using (Html.BeginForm("SaveSettings", "Settings", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="MailServer">
                Почтовый сервер
            </label>

            <div class="controls">
                @Html.TextBox("MailServer", Model.MailServer)
                @Html.ValidationMessage("MailServer")
            </div>

            
            <label class="control-label" for="AccountName">
                Почтовый ящик для сбора статистики
            </label>

            <div class="controls">
                @Html.TextBox("AccountName", Model.AccountName)
                @Html.ValidationMessage("AccountName")
            </div>


            <label class="control-label" for="Pwd">
                Пароль почтового ящика
            </label>

            <div class="controls">
                @Html.PasswordFor(m => Model.Pwd)
                @Html.ValidationMessage("Pwd")
            </div>
            
            <label class="control-label" for="Protocol">
                Протокол
            </label>

            <div class="controls" style="width: 160px">
                <div class="styled-select">
                    @Html.DropDownList("Protocol",  new SelectList(ViewBag.Protocols, "Value", "Text"))
                </div>
            </div>

            
            <label class="control-label" for="Port">
                Порт
            </label>
            <div class="controls" style="width: 160px">
                @Html.TextBox("Port", Model.Port)
                @Html.ValidationMessage("Port")
            </div>
        </div>
      
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Сохранить настройки
            </button>
        </div>
    </fieldset>
}