@using System.Web.UI.WebControls
@model PrintStat.Models.ViewModels.ConsumableView
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
@*<script src="~/Scripts/jquery.tokenize.js"></script>
<link href="~/Content/themes/jquery.tokenize.css" rel="stylesheet" />*@

<script language="javascript">
    $(document).ready(function ($) {
        var e = document.getElementById('color');
        e.style.display = 'none'; 
        $('#TypeConsumableID').change(function() {
            var obj = $("#TypeConsumableID :selected");
            var url = "/Consumable/CheckCartridge/";
            
            $.get(url, { TypeName: "картридж" }, function (data) {
                var id =(data);
                if (obj.val() == id) {
                    e.style.display = 'block';
                } else {
                    e.style.display = 'none';
                }
            });
        });
    });
</script>

@using (Html.BeginForm("CreateConsumable", "Consumable", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <h2>
        Добавление комплектующего
    </h2>
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="TypeConsumableID">
                Тип комплектующего
            </label>

            <div class="styled-select">
                @Html.DropDownList("TypeConsumableID", new SelectList(ViewBag.TypeConsumable, "ID", "Name"),"Выберите тип комплектующего")
                @Html.ValidationMessage("TypeConsumableID")
            </div>

            <label class="control-label" for="Name">
                Наименование
            </label>

            <div class="controls">
                @Html.TextBox("Name", Model.Name)
                @Html.ValidationMessage("Name")
            </div>

            <div id="color" display:none>
                <label class="control-label" for="Name">
                    Цвет картриджа
                </label>

                <div class="styled-select">
                    @Html.DropDownList("CartridgeColorID", new SelectList(ViewBag.CartridgeColor, "ID", "Name"),new { @class = "hidden" })
                </div>
            </div>

            <label class="control-label" for="Endurance">
                Рабочий ресурс
            </label>
            <div class="controls">
                @Html.TextBox("Endurance", Model.Endurance)

            </div>

            <label class="control-label" for="ShortName">
                Краткое название
            </label>
            <div class="controls">
                @Html.TextBox("ShortName", Model.ShortName)
            </div>



            @*<div class="section">
                <h2>Принадлежность к моделям</h2>

                <label for="required">Select</label>

                <select id="tokenize" multiple="multiple" name="ChosenModelIds" class="tokenize-sample"></select>
            </div>*@




            @*<script type="text/javascript">
                $('#tokenize').tokenize({
                    datas: "/Model/_GetModels",
                    placeholder: "Выберите модели"
                });
            </script>

            <style>
                .tokenize-sample {
                    width: 300px;
                }
            </style>*@




        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Создать
            </button>
            @Html.ActionLink("Отмена", "Index", null, null, new { @class = "btn" })
        </div>
    </fieldset>
}

