@model PrintStat.Models.ViewModels.DeviceView

@using (Html.BeginForm("EditPrinter", "Device", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="Name">
                Наименование принтера
            </label>

            <div class="controls">
                @Html.TextBox("Name", Model.Name)
                @Html.ValidationMessage("Name")
            </div>

            <label class="control-label" for="DeviceTypeID">
                Тип устройства
            </label>

            <div class="styled-select">
                @Html.DropDownList("DeviceTypeID", new SelectList(ViewBag.DeviceTypes, "ID", "Name"))
            </div>


            <label class="control-label" for="PrintKindID">
                Вид печати
            </label>

            <div class="styled-select">
                @Html.DropDownList("PrintKindID", new SelectList(ViewBag.PrintKinds, "ID", "Name"))
            </div>

            
            <label class="control-label" for="SearchString">
                Поисковая строка
            </label>

            <div class="controls">
                @Html.TextBox("SearchString", Model.SearchString)
                @Html.ValidationMessage("SearchString")
            </div>

            <label class="control-label" for="InvNumber">
                Инв. номер
            </label>

            <div class="controls" style="width: 160px">
                @Html.TextBox("InvNumber", Model.InvNumber)
                @Html.ValidationMessage("InvNumber")
            </div>

            <div class="controls">
                @Html.CheckBox("StatisticsSupported", Model.StatisticsSupported)
                поддерживает сбор статистики
                @Html.ValidationMessage("StatisticsSupported")
            </div>
        </div>
      
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Изменить
            </button>
            @Html.ActionLink("Отмена", "Index", null, null, new { @class = "btn" })
        </div>
    </fieldset>
}