@model IList<PrintStat.Device>
@{
    ViewBag.Title = "Принтеры и плоттеры";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Типы бумаги</h2>

<p>
    <div class="menu">
        <a href="@Url.Action("CreatePrinter", "Device")">Добавить принтер</a>
    </div>

</p>

<p>
    <table>
        <thead>
            <tr>
                <th>Редакция</th>
                <th>Удаление</th>

                <th>Наименование</th>
                <th>Тип устройства</th>
                <th>Вид печати</th>
                <th>Поисковая строка</th>
                <th>Инв. номер</th>
            </tr>
        </thead>
        @foreach (var device in Model)
        {
            <tr>
                
                <td width="80">
                    <a href="@Url.Action("EditPrinter", "Device", new { id = @device.ID })">●</a>
                </td>
                <td width="80">
                    <a href="@Url.Action("DeletePrinter", "Device", new { id = @device.ID })"><font color="red">●</font></a>
                </td>

                <td width="200">
                    @device.Name
                </td>
                <td width="120">
                   @* @device.DeviceType.Name*@
                </td>

                <td width="120">
                    @device.PrintKind.Name
                </td>
                
                <td width="200">
                    @device.SearchString
                </td>

                <td width="80">
                    @device.InvNumber
                </td>
            </tr>
        }
    </table>
</p>



