
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link href="~/Content/themes/multi-select.css" rel="stylesheet" />
@Scripts.Render("~/bundles/multiselect")
@Scripts.Render("~/bundles/quicksearch")



<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"> </script>


@model PrintStat.Models.ViewModels.ModelView

@using (Html.BeginForm("CreateModel", "Model", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset id="#form1">
        @Html.HiddenFor(m => m.ID)
        <h2>Добавление модели</h2>
        <div class="control-group">
            <label class="control-label" for="ManufacturerID">
                Производитель
            </label>
            <div class="styled-select">
                @Html.DropDownList("ManufacturerID", new SelectList(ViewBag.Manufacturers, "ID", "Name"))
            </div>

            <label class="control-label" for="Name">
                Наименование модели
            </label>
            <div class="controls">
                @Html.TextBox("Name", Model.Name)
                @Html.ValidationMessage("Name")
            </div>

            <label class="control-label" for="DeviceTypeID">
                Тип устройства
            </label>
            <div class="styled-select">
                @Html.DropDownList("DeviceTypeID", new SelectList(ViewBag.DeviceTypes, "ID", "Name"))
            </div>

            <label class="control-label" for="PrintKindID">
                Вид печати
            </label>
            <div class="styled-select">
                @Html.DropDownList("PrintKindID", new SelectList(ViewBag.PrintKinds, "ID", "Name"))
            </div>

            <div id="partialModConsumable1">
                @{Html.RenderPartial("partialModelConsumable", Model.Consumables);}
            </div>




















            <br/>
            <div id="tabs" style="width: 50%">
                <ul>
                    @*<li><a href="#tabs-1">Комплектующие</a></li>*@
                    <li><a href="#tabs-2">Теги</a></li>
                    <li><a href="#tabs-3">Типоразмер</a></li>
                    <li><a href="#tabs-4">Тип бумаги</a></li>
                </ul>

                @*         <div id="tabs-1">
        <select id="ms1" name="ChosenConsIds" multiple='multiple'>
            @{
                foreach (var item in ViewBag.Consumables)
                {
            <option value='@item.ID'>@item.Name</option>
                }
            }
        </select>
    </div>
            *@

                <div id="tabs-2">

                    <select id="ms2" name="ChosenTagIds" multiple='multiple'>
                        @{
                            foreach (var item in ViewBag.Tags)
                            {
                                <option value='@item.ID'>@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div id="tabs-3">
                    <select id="ms3" name="ChosenSizePaperIds" multiple='multiple'>
                        @{
                            foreach (var item in ViewBag.SizePapers)
                            {
                                <option value='@item.ID'>@item.Name</option>
                            }
                        }
                    </select>


                </div>
                <div id="tabs-4">
                    <select id="ms4" name="ChosenPaperTypeIds" multiple='multiple'>
                        @{
                            foreach (var item in ViewBag.PaperTypes)
                            {
                                <option value='@item.ID'>@item.Name</option>
                            }
                        }
                    </select>
                </div>

            </div>



            <script type="text/javascript">
                $(document).ready(function() {


                    $('#ms1,#ms2,#ms3,#ms4').multiSelect({
                        selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='поиск по значению'>",
                        selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='поиск по значению'>",
                        afterInit: function(ms) {
                            var that = this,
                                $selectableSearch = that.$selectableUl.prev(),
                                $selectionSearch = that.$selectionUl.prev(),
                                selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                                selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                            that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                                .on('keydown', function(e) {
                                    if (e.which === 40) {
                                        that.$selectableUl.focus();
                                        return false;
                                    }
                                });

                            that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                                .on('keydown', function(e) {
                                    if (e.which == 40) {
                                        that.$selectionUl.focus();
                                        return false;
                                    }
                                });
                        },
                        afterSelect: function() {
                            this.qs1.cache();
                            this.qs2.cache();
                        },
                        afterDeselect: function() {
                            this.qs1.cache();
                            this.qs2.cache();
                        }
                    });
                });
            </script>

            <script type="text/javascript">
                $(document).ready(function() {
                    $("#tabs").tabs({
                        collapsible: true
                    });
                });
            </script>
        </div>

        <br/>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Сохранить
            </button>


            <script type="text/javascript">

            
            </script>
            @Html.ActionLink("Отмена", "Index", null, null, new {@class = "btn"})
        </div>
    </fieldset>
}